body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: 0;
    color: #f0f0f0;
    width: fit-content;
    transform-origin: top left;
    height: auto;
}

html {
    display: flex;
    justify-content: center;

    align-items: center;
}

#index-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #1e1e1e;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#available-results {
    animation: fadeIn .5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 720px;
    background-color: #2b2b2b;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    text-align: center;
    padding: 20px;
}

@media screen and (max-width: 800px) {
    #available-results {
        width: 80vw;
        height: 150px;
    }
}


#available-results-title {
    font-size: 24px;
    font-weight: bold;
    color: #dadada;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
    text-align: center;
}


#student-percentage-section {
    width: 100%;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #252525;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #444, #666);
    border-radius: 10px;
    border: 2px solid #252525;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #555, #777);
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #444 #252525;
}

.student-rank-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 20px 0;
    background-color: #2e2e2e;
    border-radius: 10px;
    margin: 20px 0;
}

.student-chart-name {
    font-size: 22px;
    font-weight: 700;
    color: #ffcc00b2;
    margin-bottom: 10px;
}

.student-chart-section {
    width: 100%;
    height: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1200px) {
    .student-chart-section {
        overflow-x: scroll;
        overflow-y: auto;
        align-items: start;
        justify-content: start;
    }
}

#fullscreen-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    /* display: none; */
    align-items: center;
    justify-content: center;
}

#close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

/* #chart_div {
    height: 500px;
    border-radius: 10px;
    width: 1200px;
} */

.chart-only {
    height: 500px;
    border-radius: 10px;
    width: 1200px;
}

#students-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 95%;
    /* max-width: 800px; */
    padding: 20px;
    background: #252525;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow-x: hidden;
}

.student-page-top-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    border-bottom: 2px solid #444;
}

.student-name {
    font-weight: 700;
    font-size: 26px;
    color: rgb(255, 204, 0, .6);
}

.student-rollno,
.student-group {
    font-weight: 600;
    font-size: 18px;

    color: #ffcc00;
}

.student-rollno {
    color: #b6b6b6;
}

.student-school {
    font-weight: 500;
    font-size: 18px;
    background-color: #333;
    color: #cccccc;
    padding: 8px 15px;
    border-radius: 6px;
    text-align: center;
    width: fit-content;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    background: linear-gradient(90deg,
            rgba(255, 255, 255, 0.1) 25%,
            rgba(255, 255, 255, 0.171) 50%,
            rgba(255, 255, 255, 0.1) 75%);
    background-size: 200% 100%;
    animation: shimmer 2.5s infinite linear;
    cursor: pointer;
}

.student-school:hover {
    background-color: #2e2e2e;
    color: #ffcc00be;
    cursor: pointer;
}

.student-mark-section {
    width: 100%;
    max-width: 800px;
    padding: 15px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #333;
    color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    text-align: left;
}

thead {
    background-color: #444;
}

th,
td {
    padding: 12px;
    border-bottom: 1px solid #555;
}

th {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffcc00;
}

tr:hover {
    background-color: #2e2e2e;
}

tbody tr:last-child td {
    border-bottom: none;
}

@media (max-width: 800px) {
    #students-page {
        width: 95%;
        padding: 15px;
    }

    #chart_div {
        height: 300px;
    }

    .student-name {
        font-size: 22px;
    }

    .student-rollno,
    .student-group {
        font-size: 16px;
    }

    .student-school {
        font-size: 18px;
        padding: 6px 12px;
    }

    table {
        font-size: 14px;
    }

    th,
    td {
        padding: 8px;
    }
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }

    100% {
        background-position: 200% 0;
    }
}

#student-page-back-to-search {
    position: absolute;
    padding: 10px;
    background-color: #3d3d3d;
    border-radius: 5px;
    background: linear-gradient(90deg,
            rgba(255, 255, 255, 0.1) 25%,
            rgba(255, 255, 255, 0.171) 50%,
            rgba(255, 255, 255, 0.1) 75%);
    background-size: 200% 100%;
    animation: shimmer 2.5s infinite linear;
    left: 15px;
    top: 15px;
    cursor: pointer;
    font-weight: bold;
    color: #b1a886;
}

#student-page-back-to-search:hover {
    background-color: rgb(7, 95, 7, .4);
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal.hidden {
    display: none !important;
}

.modal-content {
    background: #252525;
    padding: 2rem;
    border-radius: 1rem;
    width: 90%;
    max-height: 90vh;
    overflow-y: auto;
}

.student-mark-analysis {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 20px;
}

.student-mark-analysis-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 20px;
    background: #2e2e2e;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    font-weight: 700;
    font-size: 20px;
}

.student-total-marks {
    color: rgba(255, 204, 0, 0.788);
}

.student-percentage {
    color: rgba(255, 204, 0, 0.788);
}

.student-result-Passed {
    color: #00b600;
}

.student-result-Failed {
    color: #ff0000;
}

@media (max-width: 800px) {
    .student-mark-analysis-item {
        font-size: 16px;
        padding: 10px;
    }
}



.student-rank-details {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px;
    /* Optional background */
    border-radius: 12px;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
}

.student-rank-details-item {
    padding: 16px;
    border-radius: 10px;
    background: #3b3b3b;
    font-size: 16px;
    font-weight: 700;

    white-space: nowrap;
    flex: 0 1 auto;
    /* Shrink if needed, don't grow too much */
    font-family: 'Arial', sans-serif;
    /* Added font styling */
    color: #ffffff;
    /* Text color */
    text-align: center;
    /* Center align text */
}

.student-rank-value {
    font-weight: 700;
    color: #ffd000b4;
    font-size: 18px;
}


#search-page {
    width: 720px;
    height: 100vh;
    /* padding: 50px 0; */
}

#search-page p {
    text-align: center;
    color: #c0c0c0;
}

@media screen and (max-width: 800px) {
    #search-page {
        width: 90vw;
    }
}

.input-container {
    background-color: #2b2b2b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.input-container label {
    display: block;
    margin-bottom: 8px;
    color: #c0c0c0;
}

.input-container input[type="text"] {
    width: 100%;
    padding: 10px 30px 10px 10px;
    border: 1px solid #444;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #3b3b3b;
    color: #f0f0f0;
}

.input-div-container {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.spinner {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    display: none;
    filter: invert(34%) sepia(97%) saturate(65%) hue-rotate(178deg) brightness(89%) contrast(85%);
}

/* #search-go {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    padding: 5px;
    border-radius: 3px;
    display: none; */
/* filter: invert(34%) sepia(97%) saturate(65%) hue-rotate(178deg) brightness(89%) contrast(85%); */
/* } */

/* #search-go:hover {
    background-color: #4e4e4e;
} */

#search-response {
    margin: 7px 0 0 0;
    max-height: 80vh;
    overflow-y: scroll;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE/Edge */

    /* Hide scrollbar for Webkit browsers */
    &::-webkit-scrollbar {
        display: none;
    }
}

.user-query-no-result {
    margin-top: 10px;
    padding: 5px;
    font-size: 16px;
    color: #c7c7c7;
    font-weight: 700;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
    animation: fadeIn 0.3s ease-in-out forwards;
}

.user-query-result {

    border: 1px solid #444;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    background-color: #3d3d3d;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 16px;
    font-size: 12px;
    /* opacity: 0;
    transform: translateY(10px);
    animation: fadeIn 0.3s ease-in-out forwards; */
}

.user-query-result:hover {
    background-color: #696969;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hide {
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

#individual-school-route-container {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    height: 100px;
}

#school-search-route {
    position: absolute;
    padding: 15px;
    background-color: #3d3d3d;
    border-radius: 5px;
    background: linear-gradient(90deg,
            rgba(255, 255, 255, 0.1) 25%,
            rgba(255, 255, 255, 0.3) 50%,
            rgba(255, 255, 255, 0.1) 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite linear;
    right: 10px;
    cursor: pointer;
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }

    100% {
        background-position: 200% 0;
    }
}

#school-search-route:hover {
    background-color: rgb(7, 95, 7, .4);
}

#individual-route-title {
    font-weight: 700;
    font-size: 26px;
    color: #c7c7c7;
}


#school-search-page {
    width: 720px;
    height: 100vh;
    /* padding: 50px 0; */
}

#school-search-page p {
    text-align: center;
    color: #c0c0c0;
}

@media screen and (max-width: 800px) {
    #school-search-page {
        width: 90vw;
    }

    #individual-route-title {
        font-size: 20px;
    }
}

.school-search-input-container {
    background-color: #2b2b2b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.school-search-input-container label {
    display: block;
    margin-bottom: 8px;
    color: #c0c0c0;
}

.school-search-input-container input[type="text"] {
    width: 100%;
    padding: 10px 30px 10px 10px;
    border: 1px solid #444;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #3b3b3b;
    color: #f0f0f0;
}

.school-search-input-div-container {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.spinner {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    display: none;
    filter: invert(34%) sepia(97%) saturate(65%) hue-rotate(178deg) brightness(89%) contrast(85%);
}

/* #school-search-go {
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                width: 25px;
                height: 25px;
                padding: 5px;
                border-radius: 3px;
                display: none; */
/* filter: invert(34%) sepia(97%) saturate(65%) hue-rotate(178deg) brightness(89%) contrast(85%); */
/* } */

/* #school-search-go:hover {
                background-color: #4e4e4e;
            } */

#school-search-response {
    margin: 7px 0 0 0;
    max-height: 80vh;
    overflow-y: scroll;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE/Edge */

    /* Hide scrollbar for Webkit browsers */
    &::-webkit-scrollbar {
        display: none;
    }
}

.school-query-no-result {
    margin-top: 10px;
    padding: 5px;
    font-size: 16px;
    color: #c7c7c7;
    font-weight: 700;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
    animation: fadeIn 0.3s ease-in-out forwards;
}

.school-query-result {

    border: 1px solid #444;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    background-color: #3d3d3d;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 16px;
    font-size: 12px;
    /* opacity: 0;
                transform: translateY(10px);
                animation: fadeIn 0.3s ease-in-out forwards; */
}

.school-query-result:hover {
    background-color: #696969;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hide {
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

#individual-school-route-container {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    height: 100px;
}

#school-search-route {
    position: absolute;
    padding: 10px;
    background-color: #3d3d3d;
    border-radius: 5px;
    background: linear-gradient(90deg,
            rgba(255, 255, 255, 0.1) 25%,
            rgba(255, 255, 255, 0.3) 50%,
            rgba(255, 255, 255, 0.1) 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite linear;
    right: 10px;
    cursor: pointer;
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }

    100% {
        background-position: 200% 0;
    }
}

#school-search-route:hover {
    background-color: rgb(7, 95, 7, .4);
}

#school-page-back-to-search {
    position: absolute;
    padding: 10px;
    background-color: #3d3d3d;
    border-radius: 5px;
    background: linear-gradient(90deg,
            rgba(255, 255, 255, 0.1) 25%,
            rgba(255, 255, 255, 0.171) 50%,
            rgba(255, 255, 255, 0.1) 75%);
    background-size: 200% 100%;
    animation: shimmer 2.5s infinite linear;
    left: 15px;
    top: 15px;
    cursor: pointer;
    font-weight: bold;
    color: #b1a886;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* WebKit Browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #252525;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #444, #666);
    border-radius: 10px;
    border: 2px solid #252525;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #555, #777);
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #444 #252525;
}


.container {
    /* width: 1200px;
                max-width: 1200px; */
    /* width: 1400px; */
    padding: 20px;
    background: #252525;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

h1,
h2 {
    text-align: center;
    margin-bottom: 15px;
}

.result-section {
    max-height: 85vh;
    overflow-y: auto;
    border-radius: 5px;
    border: 1px solid #444;
}

@media (max-width: 600px) {
    .result-section {
        overflow-y: scroll;
        border-radius: 5px;
        border: 1px solid #444;
        max-height: 300vh;
    }


}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    background: #333;
}

thead {
    position: sticky;
    top: 0;
    background: #3e3e3e;
    z-index: 100;
}

th,
td {
    padding: 12px;
    text-align: center;
    border: 1px solid #444;
}

th {
    background: #3e3e3e;
    font-weight: bold;
}

.pass {
    color: #4caf50;
    font-weight: bold;
}

.fail {
    color: #ff5252;
    font-weight: bold;
}

.marks {
    color: #ffd700;
    font-weight: bold;
}

.grade {
    color: #00bcd4;
    font-weight: bold;
}